<button (click)="toPdf()">export</button>
<div class="container">
  <div class="col">
    <div #container style="width:{{pageSize.height}}px;">
      <quill-editor [(ngModel)]="htmlText" placeholder="Enter Text" [modules]="quillConfig"
        (onSelectionChanged)="onSelectionChanged($event)" (onContentChanged)="onContentChanged($event);pageBreak();">
      </quill-editor>
      <div style="position:absolute;top:{{pBreak}}px;height:0px;width:100%;border:1px solid black;"
        *ngFor="let pBreak of pBreaks"></div>
    </div>
    <div id="section-to-print" style="width:{{pageSize.height}}px;">
      <!-- <div [innerHTML]="htmlText"></div> -->
      <quill-view-html [content]="htmlText" theme="snow"></quill-view-html>
    </div>
  </div>
</div>
<!-- <div>
    <pre>{{htmlText}}</pre>
  </div> -->

<!-- <h2>Preview email will show the following</h2>
Subject: {{subject}}
<br />
<br />
Body:
<div [innerHTML]="htmlText">
</div> -->